@import "/mixins.scss";

.play-now-button {
    position: absolute;
    top: 40%;  /* Adjust these values to position the button */
    left: 28%; /* Adjust these values to position the button */
    transform: translate(-50%, -50%);
    @media (max-width: 768px) { // Adjust this value to the breakpoint you want
        left: 55%;
        top: 35%;
    }
}
.playbtn{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    svg {
        width: 60px;
        @include md {
            width: 80px;
          background: none;
        }
    }
    .text {
        font-size: 20px;
        transition: all 0.7s ease-in-out;
        color: rgb(255, 255, 255);
    }
    .triangle {
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: rgb(255, 255, 255);
        transform: translateY(0);
        transition: all 0.7s ease-in-out;
    }
    .circle {
        stroke: rgb(255, 249, 249);
        stroke-dasharray: 650;
        stroke-dashoffset: 1300;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        .text {
            color: var(--pink);
        }
        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: var(--pink);
            animation: trailorPlay 0.7s ease-in-out;
        }
        .circle {
            stroke-dashoffset: 0;
            stroke: var(--pink);
        }
    }
}
